<footer class="footer navbar-dark bg-dark py-3 mt-auto">
    <!-- py - padding y axis (top and bottom) -->
    <!-- margin top auto makes the footer automatically go to the bottom of page even if theres not enough content to push it down-->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022 </span>
    </div>

</footer>